
/* ADD FONTS */
@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.ttf);
}
@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir-Black.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir-Light.ttf);
  font-weight: light;
}
@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir-Medium.ttf);
  font-weight: normal;
}
@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir-Thin.ttf);
  font-weight: thin;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* STYLE FOR WINDOW */
p{
  margin: 0;
}
body{
  font: 'Poppins', 'vazir';
  padding: 0 50px;
  padding-top: 20px;
  background-color: #30353F;
}

.hidden{
  top: 233px;
  position: absolute;
  width: 50px;
  height: 30px;
  background: #30353F;
  z-index: 10000;
}

.hidden2{
  top: 277px;
  position: absolute;
  width: 80px;
  height: 20px;
  background: #30353F;
  z-index: 10000;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  /* -1/2 width */
}

/* HEADER */
.header-arzchande{
  display: flex;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo img{
  width: 244px;
  filter: drop-shadow(5px 5px 10px #ffffff15);
}

.date{
  position: absolute;
  top: 80px;
}

p.date {
  color: #f6efd1;
  font-size: 24;
  font-family: 'vazir';
  font-weight: bold;
}

.arz{
  margin-top: 29px;
}

.header-section-arz{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;
}

.title{
  font-family: 'Vazir';
  max-width: 500px;
  font-weight: 700;
  font-size: 42px;
  line-height: 66px;
  color: #f6efd1;
  margin: 0 0 0 38px;
  display: inline;
  margin-bottom: 20px;
}

.grid-container{
  margin-top: 56px;
  display: grid;
  grid-template-columns: 22.8% 22.8% 22.8% 22.8%;
  gap: 42px;
}

.grid-item{
  background: #3A6FF8;
  height: 200px;
  width: 100%;
  background-color: #1b202851;
  border-radius: 15px;
  margin-bottom: 42px;
  margin: 0;
  filter: drop-shadow(5px 5px 10px #0000005b);
}

.grid-item .blur{
  filter: blur(5px);
  transition: all .5s ease;
}

.grid-item .error{
  border: 2px solid red;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.grid-item .blur:hover{
  filter: blur(15px);
  transition: all 1.2s ease;
}

.grid-item .none{
  width: 100%;
  height: 100%;
  border: 2px solid #3A6FF8;
  border-radius: 15px;
}

.soon{
  position: absolute;
  bottom: 70px;
}

.soon p{
  font-family: vazir;
  font-weight: 1000;
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
  width: 300px;
  color: #ffffff;
}

.popup{
  position: absolute;
  bottom: 10px;
}

.popup p{
  font-family: vazir;
  font-weight: 1000;
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
  width: 300px;
  color: #ffffff;
}

.head-box{
  display: flex;
  width: auto;
  box-sizing: border-box;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background: #31353F;
  border-radius: 10px;
  margin: 24px 19px 0 20px;
}

.icon img{
  width: 50px;
  height: 50px;
}

p.name-arz{
  font-family: 'vazir';
  font-weight: 600;
  font-size: 24px;
  color: #FFF;
  margin: 25px 0 0 0;
}

p.mokhtasar-arz{
  font-family: 'vazir';
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
  margin: 3px 0 0 0;
  opacity: 0.6;
  text-transform: uppercase;
}

.up{
  position: absolute;
  color: #1ECB4F;
  font-size: 24px;
  margin-top: 40px;
  margin-left: 250px;
  transition: all 1s ease;
}

.up.down{
  color: red;
  transition: all 1s ease;
}

.up.down:hover{
  transform: scale(1.2) translateY(5px);
  transition: all 1s ease;
}

.up:hover{
  transform: scale(1.2) translateY(-5px);
  transition: all 1s ease;
}

.price{
  display: flex;
  align-items: center;
}

p.price-arz{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 25px;
  font-family: vazir;
  font-weight: 600;
  color: #FFF;
}

.change-arz{
  margin-top: 8px;
  margin-left: 20px;
  font-size: 16px;
  font-family: vazir;
  font-weight: 600;
  color: #1ECB4F;
  letter-spacing: 0.02em;
}

.change-arz.down{
  color: red;
}

sup{
  font-size: 12px;
  font-family: vazir;
  font-weight: 500;
}

.box-up{
  position: absolute;
  width: 120px;
  height: 55px;
  margin-top: 0px;
  margin-left: 160px;
  transition: all .5s ease;
}

/* .box-up.open{
  width: 120px;
  transition: all .5s ease;
} */

.show-more-less{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

p.show-more{
  font-size: 20px;
  color: #FFF;
  font-family: vazir;
  font-weight: normal;
  opacity: 0.8;
  text-align: center;
  transition: all 0.5s ease;
}

.show-more-icon{
  color: #FFF;
  width: 24px;
  margin-top: 0;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
  transition: all 0.5s ease;
}

p.show-more:hover ~ .show-more-icon{
  margin-top: 6px;
  opacity: 1;
  transition: all 0.5s ease;
  filter: blur(2px);
}

p.show-more:hover{
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.5s ease;
  filter: blur(2px);
}

.update-show-more{
  display: none;
  font-size: 24px;
  position: absolute;
  color: #FFF;
  font-family: vazir;
  font-weight: bold;
  text-align: center;
  filter: drop-shadow(5px 4px 5px #000000);
  transition: all 0.7s ease;
}

p.show-more:hover ~ .update-show-more{
  display: block;
  z-index: -1;
}

.line2{
  margin-top: 10px;
}

.title2{
  margin-top: 10px;
}

.under-title-crypto{
  position: absolute;
  width: 213px;
  height: 12px;
  background: #3A6FF8;
  right: 58px;
  top: 868px;
  z-index: -1;
}

.under-title-arz-chande{
  position: absolute;
  width: 120px;
  height: 12px;
  background: #3A6FF8;
  right: 58px;
  top: 1546px;
  z-index: -1;
}

.main-arz-chande{
  display: flex;
  justify-content: space-around;
  margin-top: 92px;
  align-items: center;
}

.arz-chande-image img{
  width: 880px;
  height: 572px;
  border-radius: 36px;
  filter: drop-shadow(5px 5px 10px #3a70f826);
}

p.about-us {
  width: 414px;
  height: 570px;
  color: #FFF;
  font-size: 24px;
  font-family: vazir;
  direction: rtl;
}

.social{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.social img {
  margin-top: 80px;
  width: 350px;
  height: 81px;
  margin-bottom: 70px;
  transition: all .5s ease;
}

.social img:hover{
  transform: scale(1.2);
  transition: all .5s ease;
}

#A:hover + #B{
  filter: blur(2px);
  transform: scale(0.95);
  transition: all .5s ease;
}

#A{
  transition: all .5s ease;
}

#B{
  transition: all .5s ease;
}

#C{
  transition: all .5s ease;
}

#A.hover{
  filter: blur(2px);
  transform: scale(0.95);
  transition: all .5s ease;
}

#B.hover{
  filter: blur(2px);
  transform: scale(0.95);
  transition: all .5s ease;
}

#C.hover{
  filter: blur(2px);
  transform: scale(0.95);
  transition: all .5s ease;
}

.auther {
  color: #3A6FF8;
  font-weight: 700;
}

/* @media screen and (max-width : 1300px) {

} */
